.equipo-title{
    padding: 10px;
}

.blue-half, .red-half{
    height: 320px;
}

.blue-half{
    background-color: blue;
}

.red-half{
    background-color: red;
}

.jumbotron{
    padding: 10px;
    margin-bottom: 0px;
}
