<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Jugadores</h1>
    </div>
</div>
<div class = "container mb-3 mt-5">
    <div class = "row">
        <div class = "col">
            <button type = "button"
                tooltip="Nuevo jugador" placement="top"
                class = "btn btn-primary rounded-pill btn-lg"
                [routerLink] = "['/jugador']">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Nuevo</button>

            <button type = "button"
                tooltip="Comenzar partido" placement="top"
                class = "btn btn-danger rounded-pill pull-right btn-lg"
                (click) = "jugarPartido()">
                <i class="fa fa-futbol-o" aria-hidden="true"></i>&nbsp;Jugar!</button>

        </div>
    </div>
    <div class = "row">
        <div class = "col-10 offset-1 offset-sm-0 col-sm-3" *ngFor="let jugador of jugadores; let i = index">
            <app-jugador [jugador] = "jugador" [index] = "(i + 1)"></app-jugador>
        </div>
    </div>
</div>
