<div class = "container mt-5">
    <h4>Nuevo jugador</h4>
    <hr>
    <form [formGroup] = "jugadorForm" (ngSubmit) = "guardarJugador()">
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-md-8">
                <input class="form-control"
                type="text"
                placeholder="Nombre"
                formControlName="nombre">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Habilidad especial</label>
            <div class="col-md-8">
                <input class="form-control"
                type="text"
                placeholder="Habilidad especial"
                formControlName="habilidadEspecial">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary">
                    Guardar
                </button>
            </div>
        </div>

    </form>
</div>
